@model SearchViewModel

<div class="searchHolder">
    <div>
        <form asp-controller="Home" asp-action="Search" method="post" >

         <input type="text" name="searchString" placeholder="Search..." required/>

         <input type="submit" value="Search" id="searchbtn" />

         </form>
                    
    </div>
</div>







  

                
